<ngx-spinner type = "line-spin-clockwise-fade">
  <h3>Loading...</h3>
</ngx-spinner>
<app-nav-bar></app-nav-bar>
<main class="main">
  <section class="py-5 text-center container">
    <div class="content">
      <div class="left-side">
        <h1>Hello, {{ title }}</h1>
        <p>Welcome to the page. 🎉</p>
      </div>
      <div class="divider" role="separator" aria-label="Divider">
        <app-art></app-art>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
<router-outlet />
