<header data-bs-theme="dark">
    <div class="text-bg-dark collapse" id="navbarHeader" [ngbCollapse]="isCollapsed">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4>About</h4>
            <p class="text-body-secondary">Hello! My name is Anurak Pankham. I'm a freelance still life artist and a software engineer. Thank you for liking my works.</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4>Contact</h4>
            <ul class="list-unstyled">
              <li><a href="linkedin.com/in/anurak-pankham-15a7b1151" class="text-white">Follow on Linkedin</a></li>
              <li><a href="pkanurak@gmail.com" class="text-white">Email me</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <i class="fa-regular fa-paintbrush"></i>
          <strong>Anurak Pankham Still Life</strong>
        </a>
        <div class=" align-items-center">
          <a class="p-2" 
          routerLink="/" 
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}"
          >Home</a>
          <a class="p-2" routerLink="/art" routerLinkActive="art">My Arts</a>
        </div>
        <div class="align-items-end">
          <button class="navbar-toggler collapsed" type="button" (click)="isCollapsed = !isCollapsed" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a routerLink="/login" class="btn btn-outline-secondary me-2">Login</a>
        </div>
      </div>
    </div>
</header>